.post-list {
    list-style: none;
    max-width: 700px;
}

.posts-container h2{
    font-size: 2rem;
    margin-left: 40px;
}

.addPost-button {
    display: flex;
    background-color: #fcec45;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    margin-left: 40px;
}

.addPost-button:hover {
    cursor: pointer;
    background-color: crimson;
}